@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


html {
    background-color: white;
}

body {
    font-family: 'Epilogue';
    background-color: white;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    color: black;
    font-size: 17px;
    opacity: 1;
    transition: opacity .5s;
}

a {
    text-decoration: none;
    color: black;
}
p {
    text-align: justify;
    font-weight: 300;
    margin: 0;
    font-family: 'Nunito';
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.copyright {
    color: #c5c5c5;
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
}



/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media (max-width: 700px) {
    body {
        padding-top: 10px !important;
    }
}