@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


html {
    background-color: white;
}

body {
    font-family: 'Epilogue';
    background-color: white;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    color: black;
    font-size: 17px;
    opacity: 1;
    transition: opacity .5s;
}

a {
    text-decoration: none;
    color: black;
}
p {
    text-align: justify;
    font-weight: 300;
    margin: 0;
    font-family: 'Nunito';
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.copyright {
    color: #c5c5c5;
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
}


nav {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Manrope";
    font-weight: 400;
}
nav h1 {
    font-weight: 500;
    font-size: 28px;
    position: absolute;
    top: 20px;
}
nav h2{
    font-weight: 500;
    font-size: 18px;
}
nav .separator {
    width: 100%;
    border-bottom: black 3px solid;
    margin: 0 0 5px 15px ;
}
.social {
    margin-left: auto;
    display: flex;
}
.social a {
    position: relative;
    padding: 10px 15px 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social img {
    width: 28px;
}
.social .img-back {
    position: relative;
    width: 28px;
    height: 28px;
    padding: 8px;
    margin-bottom: 5px;
}
.social .img-back::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    z-index: 5;
    width: 28px;
    height: 28px;
    padding: 8px;
    margin: 0;
    border: 1px solid black;
    border-radius: 100%;    
    transform-origin: 50%;
    transition: .2s;
}
.social a:hover .img-back::after {
   scale: 1.2;
}
.social span {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
}

.lang {
    z-index: 20;
    text-transform: lowercase;
    text-align: right;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #c5c5c5;
}
.lang a {
    margin-left: 5px;
    color: #c5c5c5;
}
.lang-active {
    font-weight: 700;
    color: #c5c5c5;
}




/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media (max-width: 700px) {
    body {
        padding-top: 10px !important;
    }
}