@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html {
    background-color: white;
}

body {
    font-family: 'Epilogue';
    background-color: white;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    color: black;
    font-size: 17px;
    opacity: 1;
    transition: opacity .5s;
}

a {
    text-decoration: none;
    color: black;
}
p {
    text-align: justify;
    font-weight: 300;
    margin: 0;
    font-family: 'Nunito';
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.copyright {
    color: #c5c5c5;
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
}





nav {
    font-family: 'Nunito';
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 40px;
}
.logo h1, .logo h2 {
    font-weight: 400;
}
.logo h2 {
    font-size: 20px;
    color: gray;
    text-align: right;
}

nav .item {
    position: relative;
    margin-left: 20px;
    padding: 10px 25px;
}
nav .item::after {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% - 45px);
    height: 5px;
    bottom: -10px;
    background-color: #5C58FF;
    opacity: 0;
    transition: opacity .5s, bottom .4s;
}
nav .item:hover::after {
    opacity: 1;
    bottom: 10px;
}

nav .lang {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    font-size: 16px;
    font-weight: 200;
    padding: 10px;
}
nav .lang a {
    padding: 0 5px;
}
nav .lang a:hover {
    text-decoration: underline;
}
nav .lang .lang-active {
    font-weight: 800;
    color: #5C58FF;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media (max-width: 700px) {
    body {
        padding-top: 10px !important;
    }
    .logo {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
    }
    .logo h2 {
        margin-left: auto;
    }
    
    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #c5c5c5;
        
    }
    nav .item {
        margin: 0;
        padding: 0;
    }
    nav .lang {
        margin-left: 0;
    }
}