body {
    width: 95%;
    margin: auto;
    max-width: 1400px;
    font-size: 24px;
    padding: 50px 0;
}

.header {
    width: 100%;
    margin-bottom: 30px;
}
.header h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 300;
}

.header span {
    margin-left: 70px;
    position: relative;
    padding: 0;
    font-size: 36px;
    font-weight: 200;
    color: #9e9e9e;
}
.header span::before {
    display: inline-block;
    content: '';
    width: 50px;
    height: 3px;
    background: black;
    position: absolute;
    bottom: calc(50% - 2px);
    left: -70px;
}   

#welcome {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px #eeeeee solid;
}

.content {
    display: flex;
}
.content .block {
    margin: 0 15px;
}
.content .block:nth-child(1) {
    width: calc(65% - 60px);
}


.content .block:nth-child(2) {
    width: 35%;
}

.section-head {

    position: relative;
}
.section-head h1 {
    font-weight: 500;
}
.section-head img {
    width: 42px;
    float: left;
    margin-right: 15px;
}
.section-head .accent {
    display: inline-block;
    width: 150px;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -10px;
    border-radius: 10px;
}



.section-mywork {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    border: 2px dashed #eeeeee;
}
.card {
    cursor: pointer;
    width: calc(100%/2.0 - 20px);
    padding: 10px;
    margin-bottom: 20px;
    transition: background .3s, scale .2s;
}
.card:nth-child(1) {
    width: 100%;
}

.card:nth-child(1) img {
    height: 350px;
}

.card img {
    height: 220px;
    width: 100%;
    object-fit: cover;
}
.card .underimg {
    font-size: 18px;
    font-weight: 300;
    color: #9e9e9e;
    display: flex;
    margin-bottom: 10px;
}
.card .underimg .languages {
    margin-left: auto;
}

.card .title {
    font-weight: 400;
    text-decoration: underline;
}


.card:hover {
    background: #e7e7e7;
    scale: 1.01;
}



.section-aboutme {
    padding: 10px;
    border: 2px dashed #eeeeee;
}

.section-aboutme p {
    font-size: 24px;
    font-weight: 300;
    text-align: justify;
    margin: 10px 0;
}

.section-aboutme .profil {
    width: 100%;
    max-width: 300px;
    filter: contrast(.8) sepia(.2);
    border: 1px solid #9e9e9e;
    border-radius: 2px;
}
.section-aboutme ul {
    display: flex;
    padding: 5px 0;
    margin: 0;
}
.section-aboutme ul img {
    width: 32px;
    margin-right: 20px;
}

@media (max-width: 1200px) {
    
    .content {
        flex-direction: column;
    }
    .content .block {
        width: 100% !important;
        margin: 0;
    }

    .section-mywork img {
        border: 0;
    }

    .section-aboutme .profil {
        float: left;
        max-width: 200px;
        margin-right: 10px;
        margin-bottom: 5px;
    }


}
@media (max-width: 800px) {
    
    p {
        font-size: 20px;
    }
    .section-aboutme p {
        font-size: 18px;
    }
}