body {
    width: 95%;
    margin: auto;
    max-width: 1400px;
    font-size: 24px;
    padding-top: 100px;
    padding-bottom: 100px;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
nav {
    z-index: 99;
    position: sticky;
    top: 0px;
    background: white;
    display: flex;
    width: 100%;
    border-bottom: 2px solid #808080;
    margin-bottom: 100px;
}
nav .home {
    font-size: 18px;
    margin: 14px 0 14px 0;
}
.nav-arrows {
    font-family: 'Inter';
    font-size: 18px;
    margin: 24px 0 14px auto;
}
nav ul {
    display: flex;
    padding: 0;
}
nav ul li {
    font-size: 18px;
    margin-right: 60px;
}
nav a {
    padding: 10px 15px;
    border-radius: 20px;
}
nav a:hover {
    background-color: #eeeeee;
}
nav .active {
    background-color: #eeeeee;
}

.head {
    display: flex;
    
}
.head .left {
    width: calc(50% - 20px);
    margin-right: 20px;
    border: 4px solid #eeeeee;
    padding: 20px;
}
.head .right {
    width: 50%;
}
.head .left h1 {
    font-size: 72px;
    margin: 0;

}

.head .left span {
    margin-left: 70px;
    position: relative;
    padding: 0;
    font-size: 24px;
    font-weight: 200;
}
.head .left span::before {
    display: inline-block;
    content: '';
    width: 50px;
    height: 3px;
    background: black;
    position: absolute;
    bottom: calc(50% - 2px);
    left: -70px;
}  

.head .techs {
    margin-top: 20px;
    display: flex;
}
.head .techs img {
    width: 64px;
    margin-right: 20px;
}

.block {
    margin: 10px 10px;
}
.block h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.block h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: black;
}

.two-columns-35percent {
    display: flex;
    margin-top: 50px;
}
.two-columns-35percent .block {
    width: 35%;
}
.two-columns-35percent video,
.two-columns-35percent img {
    width: calc(65% - 20px);
    margin-left: 20px;
    margin-right: 20px;
}

.two-columns {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.two-columns > * {
    width: calc(50% - 20px);
}

.two-columns img {
    margin: 10px;
}


.block ul {
    list-style: disc;
    font-weight: 300;;
}


@media (max-width: 900px) {
    body {
        padding-top: 20px;
    }
    nav {
        margin-bottom: 20px;
    }
    nav .home {
        margin-top: 17px;
        font-size: 24px;
    }
    nav .nav-arrows {
        font-size: 24px;
    }

    .head {
        display: block;
    }
    .head .left, .head .right {
        width: calc(100% - 60px);
    }
    .two-columns {
        display: block;
    }
    .two-columns > * {
        width: 100%;
    }
    .reverse {
        display: flex!important;
        flex-direction: column-reverse;
    }
    .two-columns-35percent {
        display: block;
    }
    .two-columns-35percent .block, 
    .two-columns-35percent video,
    .two-columns-35percent img {
        width: 100%;
        margin: 0;
    }
    .block {
        margin: 40px 0;
    }
    .block img,
    .two-columns img, 
    .two-columns-35percent img {
        margin: 0!important;
    }
}