html, body {
    padding: 0;
    margin: 0;
}

#main {
    width: 100vw;
    max-width:100%; /* Prevent horizontal scrollbar */
    color: #111;
}

#main .container {
    width: calc(100% - 150px);
    height: calc(80vh);
    display: flex;
    flex-flow: wrap;
    align-items: flex-end;
    margin: 50px 0 0 150px;
}
#main .container .controls {
    flex-basis: 100%;
}

.headimg {
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

#main .container video {
    width: 50%;
    height: 100%;
}
#main .container .header {
    font-size: 1.3rem;
    position: relative;
    width: 40%;
    margin-left: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#main .container .name {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#main .container .name h1 {
    font-size: 2.8rem;
    font-weight: 200;
    margin: 0;
    transform: translateX(100%);
    animation: slideinX 1s forwards;
}
#main .container .desc {
    width: 80%;
    opacity: 0;
    animation: fadein 1.5s .5s forwards;
}
#main .container .separator {
    margin: 15px 0;
    width: 100%;
    border-bottom: solid 3px #575757;
}


#main .container .global-infos {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
#main .container .global-infos-item {
    width: 30%;
    opacity: 0;
    animation: fadein 1.5s 1s forwards;
}
#main .container .global-infos-item span {
    display: block;
    text-align: center;
}  

#main .container .global-infos-item span:nth-child(1) {
    color: #575757
}
#main .container .global-infos-item span:nth-child(2) {
    font-size: 2rem;
}


.center {
    margin: auto;
}
.section {
    width: 70%;
    font-size: 1.2rem;
}

.section .title {
    position: relative;
    width: 100%;
    height: 50px;
    border: 1px solid #57575779;
    background-color: #f1f1f179;
    text-align: center;
    margin: 100px 0 50px 0;
}
.section .title span{
    width: 100%;
    position: absolute;
    top: -35px;
    transform: translateX(-50%);
    font-size: 3rem;
}
.section img {
    width: 100%;
    margin: 20px 0;
}


.controls {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin: 0 50px;
}
.controls a {
    text-decoration: none;
    color: #575757;
}
.controls .next {
    margin-left: auto;
}
.controls a:hover span {
    color: black
}




.gallery {
    color: white;
    background-color: #2e2e2e;
    display: flex;
    flex-flow: wrap;
    padding-left: 60px;
    padding-top: 200px;
    margin-top: 100px;
}
.gallery .title {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: auto;
}
.gallery .title span {
    font-size: 3rem;
    transform: rotateZ(-90deg) translateX(-50%);
}

.gallery .container {
    display: flex;
    flex-flow: wrap;
    flex-basis: 80%;
}
.gallery .container div {
    display: block;
    position: relative;
    width: calc(50% - 20px);
    height: 400px;
    margin: 10px;
}
.gallery .container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid white;
}

.gallery .controls {
    margin-top: 200px;
    margin-bottom: 100px;
    flex-basis: 100%;
}
.gallery .controls a {
    color: rgb(197, 197, 197);
}
.gallery .controls a:hover span{
    color: white;
}


@media (max-width: 1100px) {
    #main .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: wrap;
        margin: 50px 0 0 0px;
    }
    .headimg {
        flex-basis: 80%;
        margin: auto;
    }
    #main .container video {
        flex-basis: 80%;
        margin: auto;
    }
    #main .container .header {
        font-size: 1.3rem;
        position: relative;
        width: 80%;
        margin: 50px 0 100px auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .gallery .title span {
        transform: none;
        margin-left: 50px;
    }
    
    .gallery .container {
        flex-basis: 100%;
    }
}





@keyframes slideinX {
    100% {
        transform: translateX(0);
    }
}
@keyframes slideinY {
    100% {
        transform: translateY(0);
    }
}
@keyframes fadein {
    100% {
        opacity: 1;
    }
}